*{
    font-family: 'Open Sans', sans-serif;
}

.box{
    clip-path: circle();
    height: 130px;
    
}
.sbox{
    text-align: center;
    height: 300px;
    margin-left: 100px;
}

.head{
    background:white;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.06);  
    width:auto;
    height: 140px;
}
nav ul{
    display: flex;
}
nav li{
    margin-left: 20px;
    list-style: none;
    color: darkblue;
    font-size: 20px;
    font-weight: 600;
}
.navi{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.nav-title{
    color: darkblue;
    margin-top: 50px;
    margin-left: 30px;
}
.nav-logo{
    display: flex;
}
.main-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}
.suv-div{
    margin-top:50px;
}
.banp{
    color:black;
    width: 585px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
.bantext{
    color: darkblue;
    margin-bottom: 15px;
}
.till{
    color: black;
    font-size: 20px;
    font-weight:600;
    margin-bottom: 5px;

}
.form-box{
    height: 40px;
    width: 300px;
    margin-bottom: 24px;
    color:#FFFFFF ;
    border-radius: 10px;
    font-weight:100;
    font-size: 20px;
    padding: 10px 20px;
    border: 3px solid darkblue
}
.btn{
    height:40px;
    width: 100px;
    border-radius: 10px;
    border: 3px solid darkblue;
    background-color:#ff914d;
    font-size: 17px;
    font-weight: 400;
    margin-top: 10px;

}